$sfu-dark-red: #A6192E;
$sfu-red: #CC0633;
$sfu-grey: #54585A;
$danger: $sfu-dark-red;
$navbar-background-color: $sfu-grey;//#a4182d;
$navbar-item-color: white;

$navbar-padding-vertical: 0;
$navbar-padding-horizontal :0;
$navbar-item-hover-background-color: $sfu-red;
$navbar-item-hover-color: white;

$navbar-tab-active-color: $sfu-dark-red;

$navbar-dropdown-background-color: $sfu-red;
$navbar-dropdown-arrow: white;

// $navbar-dropdown-item-hover-background-color: $sfu-red;

// $navbar-dropdown-item-color: black;

$navbar-item-active-color: white;
$navbar-item-active-background-color: $sfu-dark-red;

$white-ter: #40454c;
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/elements/button.sass";

// Sticky footer
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

body {
  display: flex;
  min-height: calc(100vh - #{$navbar-height});
  flex-direction: column;
}
  
main {
  flex: 1 0 auto;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}
