@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/elements/button.sass";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
