<div hidden id="content-post">
  <div style="position: relative;"><a class="cancel-button">X</a></div>
  <!-- Insert post layout here, prob "jump" to marker -->
  <h2 id="post-title"></h2>
  <label id="post-status"></label>
  <label id="post-item"></label>
  <label id="post-date"></label>
  <label id="post-author"></label>
  <a id="post-link" href="" target="_blank">See more</a>
</div>