<div hidden id="content-post">
  <div class="flex one">
    <div style="position: relative;"><a class="cancel-button">X</a></div>
    <div><h2 id="post-title"></h2></div>
    <div><label id="post-status"></label></div>
    <div><label id="post-item"></label></div>
    <div>
      <label id="post-author"></label>
      <p style="margin: 0; font-size: 8;" id="post-date"></p>
    </div>
    <div>
      <button id="edit-button" class="edit-button">Edit post</button>
      <a id="post-link" href="" target="_blank">See more</a>
    </div>
  </div>
</div>