<footer class="navbar is-fixed-bottom is-danger">
    <div class="navbar-item ">
        WIP!!!!!!
    </div>
    <div class="navbar-item ">
        <a href="about">About</a>
    </div>
    <div class="navbar-item">
        <a href="contact">Contact</a>
    </div>
</footer>