<script src="../js/navbar.js"></script>
<nav class="demo" role="navigation" aria-label="main navigation">
    <a class="brand" href="/">
        <img class="logo" src="../images/SFU_block_colour_rgb.png">
    </a>
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">&#8801;</label>

    <div class="menu">
        <a href="map">Map</a>
        <a href="account">Account</a>
        <a href="makepost">Create Post</a>
        <a href="postings">View Posts</a>
        <a class="button" href="logout" id="logout">Logout</a>
    </div>

</nav>