<nav>
    <ul>
        <a href="/" {{#if (navActivate page "index")}}class="active" {{/if}}>Home</a>
        <a href="makepost" {{#if (navActivate page "makepost")}}class="active" {{/if}}>Create Post</a>
        <a href="postings" {{#if (navActivate page "postings")}}class="active" {{/if}}>View Posts</a>
        <a href="map" {{#if (navActivate page "map")}}class="active" {{/if}}>Map</a>
        <a href="about" {{#if (navActivate page "about")}}class="active" {{/if}}>About</a>
        <a href="contact" {{#if (navActivate page "contact")}}class="active" {{/if}}>Contact</a>
        <a href="account" {{#if (navActivate page "account")}}class="active" {{/if}}>Account</a>

        <!-- Left Justify -->
        <a href="logout" id="logout">Logout</a>
    </ul>
</nav>