<script src="../js/navbar.js"></script>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../images/SFU_block_colour_rgb.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="map" {{#if (navActivate page "map")}} class="is-active navbar-item" {{else}} class="navbar-item"
                {{/if}}>Map</a>
            <a href="account" {{#if (navActivate page "account")}}class="is-active navbar-item" {{else}}
                class="navbar-item" {{/if}}>Account</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Posts
                </a>
                <div class="navbar-dropdown">
                    <a href="makepost" {{#if (navActivate page "makepost")}} class="is-active navbar-item" {{/if}}
                        class="navbar-item">
                        Create Post</a>
                    <a href="postings" {{#if (navActivate page "postings")}} class="is-active navbar-item" {{/if}}
                        class="navbar-item">
                        View Posts</a>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-small is-text is-light" href="logout" id="logout">Logout</a>
            </div>
        </div>
    </div>
</nav>