{{#> layout}}
{{#*inline "head"}}
<link rel="stylesheet" href="../css/info.css">
{{/inline}}

{{#*inline "content"}}
<h1 class="title">Contact Information</h1>

https://www.sfu.ca/srs/campus-safety-security/public-safety/lost-found.html

<div class="content">
  <h2 class="title">Burnaby</p>
    <p>
      Call our information kiosk at 778-782-5451.

      One of our Student Safety Engagement Program (SSEP) members can search our database or log your item. If you
      receive no answer, inquiries can be emailed to scsp@sfu.ca. Phone: 778-782-5451</p>
</div>
<div class="content">
  <h2 class="title">Surrey</p>
    <p class="subtitle">Visit the security desk located in the Mezzanine to report lost items.
      Phone: 778.782.7070</p>
</div>
<div class="content">
  <h2 class="title">Vancouver</p>
    <p class="subtitle">Visit the security desk in your building, call 778-782-5029 or contact Facilities via
      fsvhelp@sfu.ca
      Security

      Harbour Centre/Charles Chang Innovation Centre
      778-782-5029
      Segal Graduate School of Business
      778-782-7911
      Morris J Wosk Centre for Dialogue
      778-782-7944
      Goldcorp Centre for the Arts
      778-782-5749</p>
</div>


Burnaby campus

Call our information kiosk at 778-782-5451.

One of our Student Safety Engagement Program (SSEP) members can search our database or log your item. If you receive no answer, inquiries can be emailed to scsp@sfu.ca.  

Surrey campus

Visit the security desk located in the Mezzanine to report lost items.
778-782-7991
778.782.7070

Vancouver campus

Visit the security desk in your building, call 778-782-5029 or contact Facilities via fsvhelp@sfu.ca

Security

    Harbour Centre/Charles Chang Innovation Centre
    778-782-5029
    Segal Graduate School of Business
    778-782-7911
    Morris J Wosk Centre for Dialogue
    778-782-7944
    Goldcorp Centre for the Arts
    778-782-5749

{{/inline}}
{{/layout}}