{{#> layout}}
{{#*inline "head"}}
<link rel="stylesheet" href="../css/info.css">
{{/inline}}

{{#*inline "content"}}
<header>
  <h1>Contact Information</h1>
</header>
<main>
  <h2>Burnaby campus</h2>
  <p>
    Phone: 778-782-5451
  </p>
  <p>
    Email: scsp@sfu.ca
  </p>
  <h2>Surrey campus</h2>
  <p>
    Please see security desk located in the Mezzanine
  </p>
  <h2>Vancouver Campus</h2>
  <p>
    Phone: 778-782-5029
  </p>
  <p>
    Email: fsvhelp@sfu.ca
  </p>
</main>
{{/inline}}
{{/layout}}