{{#> layout}}
{{#*inline "head"}}
{{/inline}}
{{#*inline "content"}}
<section>
  <button class="button" type="button" onclick="">Burnaby Campus</button>
  <button class="button" type="button" onclick="">Surrey Campus</button>
  <button class="button" type="button" onclick="">Vancouver Campus</button>
</section>
{{/inline}}
{{/layout}}