{{#> layout}}
{{#*inline "head"}}
{{/inline}}
{{#*inline "content"}}
<header>
  <h1>Item Report Heatmap</h1>
</header>
<main>
  <button class="button" type="button" onclick="">Burnaby Campus</button>
  <button class="button" type="button" onclick="">Surrey Campus</button>
  <button class="button" type="button" onclick="">Vancouver Campus</button>
</main>
{{/inline}}
{{/layout}}