<!doctype html>
<html lang="en">
    <head>
        <title>SFU Lost and Found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" href="../css/layout.css">
        <!-- <script type="text/javascript" src="something.js"></script> -->
    </head>

    <body>
        {{> navbar}}

        <header>
            <h1>Item Report Heatmap</h1>
        </header>

        <main>
            <button type="button" onclick="">Burnaby Campus</button>
            <button type="button" onclick="">Surrey Campus</button>
            <button type="button" onclick="">Vancouver Campus</button>
        </main>

    </body>

</html>
