<!doctype html>
<html lang="en">

    <head>
        <title>SFU Lost and Found</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/post.css">
        <script src="/js/makepost.js"></script>
    </head>

    <body>
        {{> navbar}}

        <header>
            <h1>Item Report Form</h1>
        </header>
        <center>
        <form id="submitForm" action="submit-posting" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title">Posting title (briefly describe item): </label>
                <input type="text" id="title" name="title" maxlength="255" required />
            </div>
            <div>
                <p style="margin-bottom:0px;">Is the item being reported lost, stolen, or found?</p>
                <label>
                    <input type="radio" id="lost" name="status" value="lost" checked required/>Lost
                </label>
                <label>
                    <input type="radio" id="stolen" name="status" value="stolen"/>Stolen
                </label>
                <label>
                    <input type="radio" id="found" name="status" value="found"/>Found
                </label>
            </div>
            <div>
                <label for="item">Type of item being reported:</label> <br>
                <select id="item" name="item" required>
                    <option value = "wallet">Wallet</option>
                    <option value = "phone">Phone</option>
                    <option value = "keys">Keys</option>
                    <option value = "laptop">Laptop</option>
                    <option value = "pencilCase">Pencil Case</option>
                    <option value = "clothing">Clothing</option>
                    <option value = "textbook">Textbook</option>
                    <option value = "other">Other</option>
                </select>
            </div>

            <div>
                <label for="date">Estimate date/time when the item went missing or was found:</label><br>
                <input type="date" id="date" name="date" required>
                <input type="time" id="time" name="time" required>
            </div>

            <div>
                <label for="campus">Campus:</label><br>
                <select id="campus" name="campus" required>
                    <option value="burnaby">Burnaby Mountain Campus</option>
                    <option value="surrey">Surrey Central Campus</option>
                    <option value="vancouver">Vancouver Campus</option>
                </select>
            </div>

            <div>
                <label for="location">Extra location details:</label><br>
                <input type="text" id="location" name="location" maxlength="255">
            </div>
            
            <div>
                <label for="detail">Please describe the item in as much detail as possible (max 2000 characters):</label><br>
                <textarea rows="4" cols="50" id="detail" name="detail" maxlength="2000"></textarea>
            </div>

            <div>
                <label for="image">Upload image of item, if available:</label><br>
                <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
            </div>

            <input type="submit" value="Submit">
        </form> 
        </center>
    </body>

</html>
