{{#> layout}}
{{#*inline "head"}}
<link rel="stylesheet" href="/css/map.css">
<script type="text/javascript" src="/js/map.js"></script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"async defer>
</script>
{{/inline}}

{{#*inline "content"}}
<div id="overlay"></div>
<main class="grid">
    <aside class="grid-zero">
        <header class="title-container">
            <div class="sfu-title"><p class="sfu">S</p>omething</div>
            <div class="sfu-title"><p class="sfu">F</p>ound at</div>
            <div class="sfu-title"><p class="sfu">U</p>niversity</div>
        </header>
    </aside>
    <aside id="sidebar" class="grid-one">

        <div id="content">
            <div id="all-post" class="selected">
                <!-- Add pagination shit https://codepen.io/harangue/pen/VeJowz -->
                <!-- Display all posts -->
                <!-- Make this a flexbox columns -->
                <!-- Make items inside a flexbox -->
            </div>
            <div id="content-post" class="not-selected">
                <!-- Insert post layout here, prob "jump" to marker -->
            </div>
            <form id="content-form" class="not-selected" action="makepost" method="POST" enctype="multipart/form-data">
                <!-- FormSet serialize -->
                <input type="hidden" id="lng" name="lng"/>
                <input type="hidden" id="lat" name="lat"/>
                <input type="hidden" id="campus" name="campus"/>
                <div>
                    <label for="title">Report title:</label>
                    <input type="text" id="title" name="title" maxlength="255" required />
                </div>
                <div>
                    <label>Report Status:</label>
                        <label>
                            <input type="radio" id="lost" name="status" value="lost" checked required/>Lost
                        </label>
                        <label>
                            <input type="radio" id="stolen" name="status" value="stolen"/>Stolen
                        </label>
                        <label>
                            <input type="radio" id="found" name="status" value="found"/>Found
                        </label>
                </div>
                <div>
                    <label for="item">Type of item:</label> <br>
                    <select id="item" name="item" required>
                        <option value = "wallet">Wallet</option>
                        <option value = "phone">Phone</option>
                        <option value = "keys">Keys</option>
                        <option value = "laptop">Laptop</option>
                        <option value = "pencilCase">Pencil Case</option>
                        <option value = "clothing">Clothing</option>
                        <option value = "textbook">Textbook</option>
                        <option value = "other">Other</option>
                    </select>
                </div>

                <div>
                    <label for="date">Approximate time:</label><br>
                    <input type="date" id="date" name="date" required>
                    <input type="time" id="time" name="time" required>
                </div>
                <div>
                    <label for="location">Extra location details:</label><br>
                    <input type="text" id="location" name="location" maxlength="255">
                </div>
                <div>
                    <label for="detail">Item Description:</label><br>
                    <textarea id="detail" name="detail" maxlength="2000"></textarea>
                </div>
                <div>
                    <label for="image">Photo (optional):</label><br>
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
                </div>
                <input type="submit" value="Submit Report">
            </form>
        </div>
    </aside>
    <div class="grid-two">
        <div id="floating-panel">
            <input onclick="showBurnaby();" type=button value="Burnaby">
            <input onclick="showVancouver();" type=button value="Vancouver">
            <input onclick="showSurrey();" type=button value="Surrey">
        </div>
        <div id="map"></div>
    </div>
</main>
{{/inline}}
{{/layout}}