<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>SFU Lost and Found</title>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap"async defer>
    </script>
    <script type="text/javascript" src="/js/map.js"></script>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
    {{> navbar}}

    <div id="overlay"></div>
    <main class="flex-container">
        <aside id="sidebar">
            <header>
                <b>S</b>omething<br>
                <b>F</b>ound at<br>
                <b>U</b>niversity<br>
            </header>
            <div id="content"></div>
        </aside>
        <div class="map-container">
            <div id="floating-panel">
                <input onclick="showBurnaby();" type=button value="Burnaby">
                <input onclick="showVancouver();" type=button value="Vancouver">
                <input onclick="showSurrey();" type=button value="Surrey">
            </div>
            <div id="map"></div>
        </div>
    </main>

</body>
</html>