#postings {
    width: 100%;
    border-spacing: 0px;
}

.posting {
    height: 2em;
}
.lost {
    background-color: thistle;
}
.stolen {
    background-color: lightpink;
}
.found {
    background-color: lightblue;
}
.returned {
  background-color: lightgreen;
}

/* add 5px padding to .posting */
.posting td:first-child {
    padding-left: 5px;
}
.posting td:last-child {
    padding-right: 5px;
}

.posting td:nth-child(1) {
  width: 100px;
  text-align: center;
}
.posting td:nth-child(2) {
  width: auto;
}
.posting td:nth-child(3) {
  width: 150px;
  text-align: center;
}
.posting td:nth-child(4) {
  width: 150px;
  text-align: right;
}

#searchBox {
    display: block;         /* center form within screen */
    text-align: center;     /* center form within screen */
    margin-top: 50px;
    margin-bottom: 50px;
}

#search {
    display: inline-block;  /* center form within screen */
}

#searchKeywords {
    min-width: 300px;
}

#advancedOptions {
    display: grid;
    grid-template-columns: 125px 375px;
    column-gap: 10px;
    margin: 10px;
    align-items: center;
}

.advancedOptionsLabel {
    text-align: right;
}

.advancedOptionsObject {
    text-align: left;
}

.advancedOptionsObject select, .advancedOptionsObject input {
    width: 100%;
}

#pagehud {
    text-align: center;
}